<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DSharpPlus" version="4.2.0-nightly-01024" targetFramework="net48" />
  <package id="DSharpPlus.Interactivity" version="4.2.0-nightly-01024" targetFramework="net48" />
  <package id="DSharpPlus.SlashCommands" version="4.2.0-nightly-01024" targetFramework="net48" />
  <package id="UVACanvasAccess" version="1.1.1-build1615956468" targetFramework="net48" />
</packages>